.pic {
    width: 250px;
    height: 250px;

    overflow: hidden;
    margin: 0 0;
}

.pic img {
    border-radius: 100%;
}


@media (max-width: 992px) {
    .pic {
        /*
        margin-left: auto;
        margin-right: auto;

        */
        display: none;
    }
}