.main_article {
    width: 65%;
    height: auto;
    float: right;
    text-align: center;

    margin: 0;
    padding: 0;
}

.main_article p {
    margin-top: -1.5rem;

    font-weight: normal;
    text-align: left;
    font-size: 1.5rem;
    line-height: 40px;
}

.main_article h2 {
    text-align: left;
    margin-top: 32px;
    margin-bottom: 48px;
}

@media (max-width: 992px) {

    .main_article {
        width: auto;
        height: 100%;

        margin: 35px 25px 100px;
    }

    .main_article p {

        font-size: 1.3rem;
    }
}