.info {
    margin-top: 24px;
    width: 100%;
    flex-direction: row;
}

.info_icon {
    width: 24px;
    height: 24px;

    vertical-align: middle;
}

.info span {
    font-size: 1rem;
    font-weight: normal;

    margin-left: 16px;
}