.profile {
    width: 250px;
    line-height: 1.6;
    font-size: 1.5rem;

    float: left;
}

.profile p {
    font-size: 1.2rem;
    text-align: center;
}

.profile span {
    font-weight: normal;
    font-size: 1rem;
}

.profile p {
    font-weight: normal;
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: center;
}


@media (max-width: 992px) {
    .profile {
        width: 100%;
    }

    .profile p {
        margin-top: 0;
        text-align: center;
    }

    .profile .info {
        margin-left: auto;
        margin-right: auto;

        width: 250px;
    }
}