.content_container {
    max-width: 992px;
    height: 800px;

    padding: 1px 0 0 0;
    margin: 50px auto 0;
}




@media screen and (max-width: 1024px) {
    .content_container {
        margin-left: 96px;
        margin-right: 96px;
    }
}


@media screen and (max-width: 992px) {
    .navigation_bar_container {
        display: none;
    }

    .content_container {
        margin-left: 25px;
        margin-right: 25px;
    }
}


@media screen and (max-width: 768px) {
    .main_article {
        margin-bottom: 100px;
    }
}
