.content_container {
    position: relative;

    max-width: 1020px;
    /* 100% - social_media_bar - nav_bar - margin-top - read_more's height */
    min-height: calc(100% - 56px - 56px - 50px - 56px) !important;

    margin: 50px auto 96px;

    overflow: auto;
}

@media screen and (max-width: 1024px) {
    .content_container {
        margin-left: 96px;
        margin-right: 96px;
        height: auto;
    }
}


@media screen and (max-width: 992px) {
    .navigation_bar_container {
        display: none;
    }

    .hamburger_bar_in {
        display: block;
    }

    .content_container {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 32px;

        height: auto;
    }
}